.movies input {
    height: 44px;
    background: #212121;
    border: 1px solid #716e6e;
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    outline: none;
}

.movie .header{
    height: calc(100vh - 72px);
}